:root {
  --highlight-green: #81FE88;
  --pastel-green: #BFFFC3;
  --petroleum-green: #132E35;
  --graphite: #01080E;
  --dark-gray: #171D1F;
  --gray: #3E3E3F;
  --medium-gray: #888888;
  --light-gray: #BCBCBC;
  --offwhite: #E1E1E1;
  --white: #FFFFFF;
  --font: "Prompt", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: var(--graphite);
  font-family: var(--font);
}